<div class='container' *ngIf='productsService.cartProducts$ | async as products'>
    <div class='row' *ngIf='products.length > 0'>
        <div class='products-in-cart col-md-4 col-lg-4 col-sm-12'>
            <h2>Products in your shopping cart</h2>
            <div class='row' *ngFor='let product of products'>
                <div class='col-md-12 col-lg-12 col-sm-12'>
                    <app-product [isForCart]='true' [product]='product'></app-product>
                </div>
            </div>
        </div>
        <div class='col-md-8 col-lg-8 col-sm-12'>
            <h2>Your Receipt</h2>
            <mat-list>
                <mat-list-item *ngFor='let product of products;index as i'>
                    <div mat-line class='product-name'>{{i+1}}.{{product.name}}</div>
                    <div class='details' mat-line>
                        <span class='price'>{{product.quantity }}</span>
                        <span class='unit'>kg(s)</span>
                        <span>X</span>
                        <span class='price'>{{product.price | number: '1.2-2'}}</span>
                        <span class='unit'>AED</span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Total : <span class='price'>{{calculateTotal(products) | number: '1.2-2'}}</span> AED</div>
            </mat-list>
            <div class='row place-order-btn'>
              <div class='col-sm-4 col-lg-4 col-md-4'>
                <button (click)='productsService.clearCart()' mat-raised-button color='warn'>Clear cart</button>
                </div>
                <div class='col-sm-4 col-lg-2 col-md-2'>
                    <button (click)='placeOrder(products)' mat-raised-button color='primary'>Place order</button>
                </div>
            </div>
        </div>
    </div>
    <div class='row' *ngIf='products.length === 0'>
        <div class='col-md-12 col-lg-12 col-sm-12'>
            <h2>You do not have anything in your shopping cart at the moment.</h2>
        </div>
    </div>
</div>
